@font-face {
    font-family: ChicagoFLF;
    src: url(fonts/ChicagoFLF.ttf);
}
@font-face {
    font-family: Retroica;
    src: url(fonts/Retroica.ttf);
}
* {
    font-family: ChicagoFLF;
    text-decoration: none;
}
body {
    background-image: url(images/Background.png);
    background-repeat: no-repeat;
    margin: 0;
    max-height: 100vh;
}
.getStarted {
    background-color: #000;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100vw;
    z-index: 999;
}
.getStarted h1 {
    align-self: center;
    font-size: 36px;
    width: 350px;
}
.getStarted h2 {
    align-self: center;
    font-size: 16px;
}
.container {
    display: flex;
    margin: 0 auto;
    width: 100vw;
}
.container * {
    margin: 0 5px;
}
#selectScreen {
    align-self: center;
    background-color: rgba(0, 0, 0, .5);
    display: grid;
    flex: 4;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    order: 1;
    padding: 5px;
    z-index: 1;
}
.iconContainer {
    margin: 0;
    position: relative;
}
.iconContainer span {
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    padding: 0 2px;
    position: absolute;
}
.p1 {
    -webkit-text-stroke: 0.5px #063F5C;
    color: rgb(107, 220, 255);
    top: 11px;
    left: 65px;
}
.p2 {
    -webkit-text-stroke: 0.5px rgb(99, 57, 93);
    color: rgb(255, 142, 240);
    bottom: 16px;
    right: 65px;
}
.timer {
    display: block;
    font-family: Retroica;
    font-size: 40px; /* temp */
    margin: 5px auto;
    width: 50px;
}
.fighter {
    flex: 5;
    height: 84vh;
    margin: 0 10px;
}
.name {
    color: #DAFCFF;
    background-color: #063F5C;
    display: block;
    height: 42px;
    margin: 0 auto;
    padding: 5px 5px;
    text-align: center;
    width: 90%;
    z-index: 1;
}
.fighterName h1{
    font-size: 32px;
}
#player1 {
    order: 0;
}
#player2 {
    order: 2;
}
#player2 img {
    transform: scaleX(-1);
}
.icon {
    border: 5px solid white;
    border-radius: 25% 0;
    background-color: rgb(212, 232, 245);
    height: 85px;
    margin: 10px;
}
.randomButton {
    display: block;
    margin: 10px auto;
    grid-column: span 2/4;
}
.player1selected {
    border: 5px solid rgb(107, 220, 255);
}
.player2selected {
    border: 5px solid rgb(255, 142, 240);
}
.fullPicture {
    bottom: 20px;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    position: relative;
}
.preview {
    height: 90%;
    opacity: 0.5;
}
.overlay {
    background-color: rgba(0, 0, 0, .8);
    height: 28vh;
    left: 0;
    position: absolute;
    text-align: center;
    bottom: 20vh;
    width: 100vw;
    z-index: 999;
}
.overlay * {
    color: #fff;
}
.overlay h1{
    font-size: 60px;
    margin: 20px;
    text-align: center;
}
.readyInput {
    font-size: 40px;
    display: block;
    margin: 10px 0;
}
.readyInput span {
    margin: 0 30px;
}
@media only screen and (min-height: 680px) {
    .getStarted h1 {
        align-self: center;
        font-size: 60px;
    }
    .getStarted h1:hover {
        color: #59bdff;
        cursor: pointer;
    }
    .getStarted h2 {
        font-size: 24px;
    }
    .timer {
        font-size: 60px;
        margin: 10px auto;
        width: 50px;
    }
}
@media only screen and (min-height: 770px) {
    body {
        background-image: url(images/Background-large.png);
    }
}