@font-face {
    font-family: ChicagoFLF;
    src: url(fonts/ChicagoFLF.ttf);
}
@font-face {
    font-family: Retroica;
    src: url(fonts/Retroica.ttf);
}
* {
    font-family: ChicagoFLF;
    text-decoration: none;
}
body {
    background-image: url(images/Background.png);
    background-repeat: no-repeat;
    /* height: 100vh; */
    margin: 0;
}
.getStarted {
    background-color: #000;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 999;
}
.getStarted h1 {
    color: #fff;
    display: block;
    font-size: 60px;
    margin: 0 auto;
    position: relative;
    top: 35vh;
    width: 380px;
}
.getStarted h1:hover {
    color: #59bdff;
    cursor: pointer;
}
.container {
    display: flex;
    margin: 0 auto;
    width: 100vw;
}
.container * {
    margin: 0 5px;
}
#selectScreen {
    background-color: rgba(0, 0, 0, .5);
    flex: 4;
    height: 32vh;
    order: 1;
    text-align: center;
    width: 100vw;
    z-index: 1;
}
.timer {
    display: block;
    font-family: Retroica;
    font-size: 60px;
    margin: 10px auto;
    width: 50px;
}
.fighter {
    flex: 5;
    height: 84vh;
    width: 24vw;
}
.fighterName {
    color: #DAFCFF;
    background-color: #063F5C;
    display: block;
    height: 42px;
    margin: 0 auto;
    padding: 5px 5px;
    text-align: center;
    width: 24vw;
    z-index: 1;
}
.fighterName h1{
    font-size: 32px;
}
#player1 {
    order: 0;
}
#player2 {
    order: 2;
}
#player2 img {
    transform: scaleX(-1);
}
.fighterIcon {
    border: 5px solid white;
    border-radius: 25% 0;
    background-color: rgb(212, 232, 245);
    height: 70px;
    margin: 10px;
}
.fighterIcon:hover{
    border: 5px solid rgb(107, 220, 255);
}
.selected, .selected:hover {
    border: 5px solid rgb(107, 220, 255);
}
.cpuSelected{
    border: 5px solid rgb(255, 142, 240);
}
.upperFighter {
    bottom: 20px;
    display: block;
    margin: 0 auto;
    max-height: 84vh;
    position: relative;
}
.preview {
    opacity: 0.5;
}
.overlay {
    background-color: rgba(0, 0, 0, .8);
    height: 28vh;
    left: 0;
    position: absolute;
    text-align: center;
    bottom: 20vh;
    width: 100vw;
    z-index: 999;
}
.overlay * {
    color: #fff;

}
.overlay h1{
    font-size: 60px;
    margin: 20px;
    text-align: center;
}
.overlay button {
    background: none;
    border: none;
    font-size: 30px;
    margin: 0 70px;
}
.overlay button:hover{
    color: #FF6161;
    cursor: pointer;
}
@media only screen and (min-height: 770px) {
    body {
        background-image: url(images/Background-large.png);
    }
}